In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('ncts_with_original_df.csv')
# Extract only the first zipcode from the Locations column
# This assumes zipcodes are 5-digit numbers in the format shown in the example
import re

# Function to extract the first zipcode from location strings
def extract_first_zipcode(location_str):
    if pd.isna(location_str):
        return None
    # Pattern to match 5-digit zipcodes
    pattern = r'\b\d{5}\b'
    matches = re.findall(pattern, location_str)
    # Return only the first zipcode if found, otherwise None
    return matches[0] if matches else None

# Apply the function to each row to get the first zipcode
df['first_zipcode'] = df.Locations.apply(extract_first_zipcode)

# Display an example of the extraction
example = df[df['first_zipcode'].notna()].iloc[0] if any(df['first_zipcode'].notna()) else None

if example is not None:
    print(f"Example of first zipcode extraction:")
    print(f"NCT ID: {example.get('NCT ID', 'N/A')}")
    print(f"Locations: {example.Locations}")
    print(f"First zipcode: {example.first_zipcode}")
else:
    print("No zipcodes found in the dataset.")

# Extract all unique first zipcodes for reference
zipcodes = df['first_zipcode'].dropna().unique()
zipcodes

Example of first zipcode extraction:
NCT ID: N/A
Locations: Brown University, Providence, Rhode Island, 02912, United States
First zipcode: 02912

array(['02912', '39216', '30303', '80204', '02215', '79968', '77030',
       '94612', '77304', '32611', '38105', '92831', '84602', '55905',
       '27695', '78229', '17033', '92182', '60611', '48202', '92093',
       '94305', '20010', '16801', '02454', '75235', '90027', '27514',
       '30322', '27599', '01602', '02118', '06511', '02903', '60608',
       '48109', '10032', '06103', '02909', '01267', '27858', '94110',
       '85012', '60612', '97401', '36832', '90057', '90242', '90025',
       '23298', '27127', '15261', '80045', '06269', '42101', '94115',
       '94143', '20001', '10016', '91711', '27708', '40536', '57701',
       '15213', '65203', '19104', '44143', '02115', '54415', '22203',
       '33136', '14620', '92103', '02453', '89154', '94304', '21207',
       '29208', '85714', '64108', '91101', '94121', '55454', '27705',
       '89502', '90059', '11203', '03766', '85281', '94401', '32610',
       '37232', '90095', '67218', '78712', '55455', '21287', '06510',
       '35205', '16802', '94117', '02111', '27710', '66160', '30912',
       '28081', '91910', '15224', '94010', '02114', '52242', '21205',
       '43202', '92505', '24016', '14214', '65212', '66801', '07011',
       '35294', '08901', '44122', '02906', '55411', '27704', '78723',
       '90670', '37203', '94108', '27713', '94118', '08536', '02142',
       '98108', '28236', '43214', '98145', '80401', '95018', '33146',
       '70808', '19140', '77555', '61801', '19102', '19716', '05405',
       '06477', '92801', '10018', '10022', '91342', '95616', '90033',
       '45229', '90404', '92037', '37212', '19963', '19085', '90032',
       '98101', '96822', '02138', '07107', '14642', '40202', '27157',
       '15260', '68632', '16601', '19146', '01852', '94043', '37996',
       '20052', '90069', '35217', '90089', '85004', '33143', '55414',
       '20005', '21629', '77843', '70402', '52246', '52241', '84143',
       '06030', '10010', '55415', '10017', '92697', '44242', '84108',
       '98195', '53704', '47405', '36849', '20037', '68701', '74078',
       '77550', '27109', '21201', '48201', '57625', '80521', '94520',
       '20054', '30033', '14850', '92123', '12180', '11794', '10001',
       '10029', '10028', '85224', '11725', '78666', '44118', '77573',
       '80011', '48742', '10002', '68198', '94301', '90034', '01655',
       '10027', '67214', '74820', '45701', '48104', '76504', '53226',
       '33125', '07661', '53705', '46601', '78236', '48824', '04012',
       '45221', '32816', '27028', '75246', '29401', '63130', '33634',
       '92020', '20892', '32207', '17822', '80270', '71220', '63110',
       '48503', '78705', '78701', '84112', '37240', '43210', '93105',
       '29425', '33199', '42409', '92618', '93407', '95128', '45212',
       '19803', '48105', '94720', '03755', '29223', '78249', '27715',
       '33612', '70112', '90048', '38635', '35127', '35233', '78521',
       '44087', '53706', '94709', '10467', '60141', '95817', '46202',
       '39759', '34209', '78539', '30909', '30606', '85005', '68182',
       '39056', '11568', '21218', '21209', '19103', '20910', '27615',
       '90840', '31419', '74501', '46240', '98011', '44195', '36105',
       '85053', '30331', '40206', '72701', '77074', '85006', '06520',
       '64111', '14226', '10025', '80303', '97232', '97210', '97239',
       '21204', '72204', '60623', '21239', '75024', '02199', '35249',
       '94402', '93111', '85202', '92663', '94306', '32224', '01605',
       '98122', '44106', '21224', '30602', '19047', '22904', '55343',
       '30329', '84121', '22903', '93405', '30305', '21202', '02129',
       '85741', '77551', '07663', '33486', '02445', '92026', '01003',
       '12251', '95032', '95211', '72211', '07101', '22901', '10011',
       '55416', '28208', '73104', '44304', '90015', '80027', '94041',
       '32803', '17602', '11432', '63108', '04101', '55417', '48823',
       '92025', '34102', '10461', '55102', '40506', '22908', '07960',
       '85724', '85028', '60010', '45750', '85258', '85260', '90031',
       '63017', '63141', '35211', '30308', '10065', '49503', '53792',
       '26506', '80210', '94107', '38152', '75219', '02125', '03756',
       '60625', '55427', '90211', '28001', '85016', '11030', '20889',
       '48670', '01702', '84132', '19611', '85234', '32405', '02120',
       '92121', '50266', '08103', '75034', '25701', '60607', '48502',
       '35209', '33559', '58203', '65211', '75390', '32063', '50011',
       '72205', '94025', '78207', '89191', '14222', '27755', '94063',
       '19348', '84017', '50702', '91203', '02169', '10962', '98431',
       '43207', '05401', '97227', '70806', '57105', '94403', '84003',
       '10021', '60637', '85008', '06810', '10035', '08107', '11576',
       '55901', '10966', '85020'], dtype=object)

In [37]:
df.sub_category.value_counts()

sub_category
hypertension                                                92
heart failure                                               66
heart disease                                               66
stroke                                                      57
atrial fibrillation                                         35
Other                                                        3
['atrial fibrillation', 'stroke']                            2
['hypertension', 'stroke', 'heart disease']                  1
['hypertension', 'stroke']                                   1
Peripheral Arterial Disease                                  1
['hypertension', 'heart failure']                            1
['hypertension', 'heart failure', 'atrial fibrillation']     1
hypertension, heart failure, stroke                          1
Name: count, dtype: int64